apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-admin-password
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: grafana-admin-password
    creationPolicy: Owner
  data:
    - secretKey: admin-user
      remoteRef:
        key: monitoring/grafana
        property: ADMIN_USER
    - secretKey: admin-password
      remoteRef:
        key: monitoring/grafana
        property: ADMIN_PASSWORD
