apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: alertmanager-smtp
  namespace: alertmanager
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: alertmanager-smtp
    creationPolicy: Owner
  data:
    - secretKey: smtp_auth_password
      remoteRef:
        key: monitoring/alertmanager
        property: SMTP_PASSWORD
